/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';*/

@import 'core/variables';
@import 'core/mixins';
@import 'core/reset';
@import 'layout/body';

.cabecera {
    background-color: black;
    width: 100vw;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px;

}
.cabecera .logo {
    width: 100px;
    
}
.nav .menu {
    width: 25px; 
}


.footer {
    background-color: black;
    color: $colorText;
    
    
}
    
.footer .right {
    padding-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer .left {
    margin-left: 20px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
@media all and (min-width:480px){

    .parte1 {
        height: 500px;
        justify-content: flex-end;
    align-items: flex-start;
    gap: 4rem;
    padding-left: 1rem;
    }
    
        .parte1 .picture {
            bottom: 0;
            right: 0;
            /* display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end; */
        }
    
    .parte1 .premium_dancer {
        display: block;
        width: 300px;
    }
    }